<ion-view view-title="home">
  <ion-nav-title>
   <p class = "maintitle">Donate</p>
  </ion-nav-title>
<p class = "donatePadding"></p>

<p class = "donate">If you like SpoonReadMe and would like to show some extra love (you already showed love by using it), then please donate using the following options:</p>
<br>
<ul class= "donatelist">
	<li class="donatelist">Email Money Transfer:</li><br>
	 <p class = "emailtransfer">p.adamy@live.ca, password: spoonreadme</p><br><br>
	 <li class = "donatelist">PayPal</li>

</ul>
<br>
<div class="paypal">

<div ng-click = "buttonPay()">

<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

</div>

<br><br><br>
<p class = "donateend">Thank you so much for your support!</p>






  </ion-content>
</ion-view>
