
<p class = "filter-label">Nutrition</p>

<div class= "nutrition">
<p class = "nutrition-filter-label">Calories</p>

<label class = "max">Max:
<input type="text" ng-model="calories.max" style="border: 1px solid black;width:50px;height:20px;"/></label>

<label class = "min">Min:
<input type="text" ng-model="calories.min" style="border: 1px solid black;width:50px;height:20px;"/></label>
</div>

<div class = "nutrition">
<p class = "nutrition-filter-label">Carbs</p>

<label class = "max">Max
<input type="text" ng-model="carbs.max" style="border: 1px solid black;width:50px;height:20px;"/></label>

<label class = "min">Min:
<input type="text" ng-model="carbs.min" style="border: 1px solid black;width:50px;height:20px;"/></label>
</div>

<div class = "nutrition">
<p class = "nutrition-filter-label">Fat</p>

<label class = "max">Max:
<input type="text" ng-model="fat.max" style="border: 1px solid black;width:50px;height:20px;"/></label>
<label class = "min">Min:
<input type="text" ng-model="fat.min" style="border: 1px solid black;width:50px;height:20px;"/></label>



</div>

<div class= "nutrition">

<p class = "nutrition-filter-label">Protein</p>

<label class = "max">Max:
<input type="text" ng-model="protein.max" style="border: 1px solid black;width:50px;height:20px;"/></label>
<label class = "min">Min:
<input type="text" ng-model="protein.min" style="border: 1px solid black;width:50px;height:20px;"/></label>



</div> 


<div class = "other">

<p class = "filter-label">Diet</p>

<div class="filter-dropdown" ng-dropdown-multiselect="" options="diets" selected-model="diets_model" checkboxes="true" extra-settings="dietssettings" ></div>
<br>
<p class = "filter-label">Cuisine</p>

<div class="filter-dropdown" ng-dropdown-multiselect="" options="cuisines" selected-model="cuisines_model" checkboxes="true" extra-settings="dietssettings" ></div>
<br>
<p class = "filter-label">Allergies</p>

<div class="filter-dropdown" ng-dropdown-multiselect="" options="allergies" selected-model="allergies_model" checkboxes="true" extra-settings="dietssettings" ></div>
<br>
<p class = "filter-label">Meal Type</p>

<div class="filter-dropdown" ng-dropdown-multiselect="" options="kinds" selected-model="kinds_model" checkboxes="true" extra-settings="dietssettings" ></div>

</div>

  </ion-content>
</ion-view>