	<p class = "voiceOptionsTitle"><b>Try saying the following:</b></p>

	<b class="voiceOptions">Read/Repeat</b><p class = "voiceOptions"> Read the current step </p>
	<b class="voiceOptions">Next</b> <p class = "voiceOptions">Read and Display next step</p>
	<b class="voiceOptions">Back/Previous</b> <p class = "voiceOptions">Read and Display the last step</p>
	<b class="voiceOptions">Finish/Quit/Stop</b> <p class = "voiceOptions">Stop voice activation</p>
	<b class="voiceOptions">How much/How many</b> <p class = "voiceOptions">Read the quantity of any ingredients in current step </p>
	<b class="voiceOptions">How much/How many {Ingredient}</b><p class = "voiceOptions"> Read the quantity of specified ingredient in current step</p>
</p>

<label class="guideCheck">
	<input class = "guide" type="checkbox" ng-show="guideUnchecked" ng-model="guideMeNot" ng-click="changeGuide(guideMeNot)"/>
	<input class = "guide" type="checkbox" ng-show="guideChecked" ng-checked="guideChecked"/>
	Don't show me this at start of voice control again
</label>


	
