<ion-view hide-back-button="true">
 <ion-nav-buttons side="left" >
              <button class="menu-button" menu-toggle="left"><img class ="menu-btn" ng-src="img/menu.svg"/></button>
</ion-nav-buttons>
  <ion-nav-title>
   <p class = "hometitle">Import Recipes</p>
  </ion-nav-title>


<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="From URL" icon-on="ion-ios-world" icon-off="ion-ios-world">
 <ion-content>

<p class="importPadding"></p>


<p class="importParagraph">Enter any link to a website or blog with recipe instructions</p>

<div class="bar bar-header item-input-inset myimportbar">
    <p class="urlLabel">URL: </p><label class="item-input-wrapper">
        <i></i>
        <form class="importBox" ng-submit="import(url)" style="width: 100%;">
          <input class = "textbox" style="width: 100%" type="text" placeholder="Enter URL..." ng-model="url" name="url" autofocus>
      </form>
    </label>


<button class="importpage-button" title="Import Recipes" ng-click="import(url)"><img ng-src="img/importblack.svg"/></button>
<p class="importLabel"></p>
</div>

<div ng-show="imported">

<button class = "walkthroughOFF-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateOFF"><img class="voice-btn" ng-show="activateOFF" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateOFF">Activate Voice</span></button>

<button class = "walkthroughON-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateON"><img class="voiceON-btn" ng-show="activateON" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateON">Activated</span></button>

<button class = "notSaved-btn" ng-click="savedRecipe(); saveRecipe(recipe);" ng-show="notSaved"><img class="save-btn" ng-src="img/save.svg" ng-show="notSaved"/><span class = "save" ng-show="notSaved">Click to Save</span></button>

<button class = "saved-btn" ng-click="savedRecipe(); saveRecipe(recipe);" ng-show="saved"><img class="save-btn" ng-src="img/save.svg" ng-show="saved"/><span class = "save" ng-show="saved">Recipe Saved</span></button>


<ion-item class= "recipe-img">
  <img class="import-img" ng-src= "{{ img }}">
  <p class="import-title"><b>{{ result.title }}</b></p>
</ion-item>


<ion-item class = "recipe-detail">
 <p class = "detail-title" ng-show = "sourceName"><b>Source:</b></p><p class="detail"><button class = "source-btn" ng-click="openSource()">{{ sourceName }}</button></p><br>
 <p class = "detail-title" ng-show = "servings"><b>Servings: </b></p><p class="detail">{{ servings }}</p><br>
 <p class = "detail-title" ng-show = "timeRequired"><b>Time Required: </b></p><p class="detail">{{ timeRequired }} minutes</p>

</ion-item>

 <br>

 <p class = "ingredients"><b>Ingredients</p></b>

<ion-item class = "ingredients">
 <ion-item class="item-text-wrap" ng-repeat = "ingredient in supplies">

  <img class = "ingredient-img" ng-src = "{{ ingredient.image }}">
  <p class = "ingredient-name"><b>{{ ingredient.name }}</b></p>
  <p class = "ingredient-amount">{{ ingredient.originalString }}</p>
</ion-item>
</ion-item>
</div>


<br>

<button class = "walkthroughOFF-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateOFF"><img class="voice-btn" ng-show="activateOFF" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateOFF">Activate Voice</span></button>

<button class = "walkthroughON-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateON"><img class="voiceON-btn" ng-show="activateON" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateON">Activated</span></button>

<button ng-show= "imported" class = "help-btn" ng-click="help()"><img class="help-btn" ng-src="img/helpred.svg"/></button>

<div ng-show="activateOFF" class = "instructions-section">
<br>

<p class = "ingredients"><b>Instructions</p></b>
<ion-item class = "Instructions">
 <ion-item class="item-text-wrap" ng-repeat = "step in steps"><b>{{$index + 1}}.</b> {{ step }}</p>
</ion-item>
</ion-item>
</div>

<br>

<div id="walkthrough" ng-show="activateON">
<br>
<b>Instructions</b>

<ion-item class = "Instructions">
  <ion-item class="item-text-wrap">
   <img class="speaking" ng-show="speaking" ng-src="img/speaker.svg"/>
   <img class="listening" ng-show="listening" ng-src="img/listening.svg"/>   

   <p class = "step"><b>{{currentStepNum}}.</b> {{currentStep}}</p>

  </ion-item>
<br>
<button class="back" ng-show="currentStepNum > 1" ng-click="prevStep()">Back</button>
<button class="backInvisible" ng-show="currentStepNum <= 1">Back</button>
<button class="next" ng-show="currentStepNum < maxStepNum" ng-click="nextStep()">Next</button>

      <div style = "text-align: center">
        <div id="page-wrapper">
          <p class="styled">
            <meter class ="meter" id="progress" max="{{max}}" value="{{percentageThrough}}"></meter>
          </p>
        </div>
    </div>
</div>
</ion-item>

 </ion-content>

  </ion-tab>

  <ion-tab title="From Phone" icon-on="ion-android-phone-portrait" icon-off="ion-android-phone-portrait">
    <!-- Tab 2 content -->
    <ion-content>

<p class="importPadding"></p>


<p class="importParagraph">Enter any</p>

</ion-content>

  </ion-tab>

  <ion-tab title="Manual Entry" icon-on="ion-edit" icon-off="ion-edit">
<ion-content>
<p class="importPadding"></p>

<div class="import-form">
<p class="importParagraph">Manually enter in your recipe instructions</p>
<br>
<form novalidate class="simple-form">

  <p class="import-labels">Labels</p>
  <div>
    <label class= "import-input-title">Title </label><input type="text"  class= "import-input" ng-model="recipe.title" placeholder="Recipe Name"/><br />
    <label class= "import-input-title">Servings </label><input type="email" class= "import-input" ng-model="recipe.servings" placeholder="Serves how many?"/><br />
  </div>

    <div class = "additions" ng-repeat = "addition in descriptionAdditions">
      <p class= "addition-label">{{ addition.label }}</p>
      <p class= "addition-value">{{ addition.value }}
      <button class = "remove-choice" ng-click="removeChoice('label', addition)"><img class="delete-btn" ng-src="img/less.svg"/></button></p>
    </div>

    <br>
   <fieldset  class = "description-addition" data-ng-repeat="choice in descriptionChoicesHolder track by $index">
      <input type="text" class= "import-input-choice label" ng-model="description.label" name="" placeholder="Label">
      <input type="text" class= "import-input-choice value" ng-model="description.value" name="" placeholder="Value">
      <button type = "button" class="addfield" ng-click="addNewChoice('label')"><img class="add-field-btn" ng-src="img/more.svg"/></button>
   </fieldset>
   <button class="addfields" ng-click="addNewChoiceOption('label')"><img class="add-btn" ng-src="img/add.svg"/><label class= "import-label">New</label></button>

<br><br>
<p class="import-labels">Ingredients</p>

   <div class = "additions" ng-repeat = "addition in ingredientAdditions">
      <p class= "addition-label">{{ addition.name }}</p>
      <p class= "addition-value">{{ addition.amount }}
      <button type = "button" class = "remove-choice" ng-click="removeChoice('ingredient', addition)"><img class="delete-btn" ng-src="img/less.svg"/></button></p>
    </div>

    <br>
   <fieldset  class = "ingredient-addition" data-ng-repeat="choice in ingredientChoicesHolder track by $index">
      <input type="text" class= "import-input-choice label" ng-model="ingredient.name" name="" placeholder="Name">
      <input type="text" class= "import-input-choice value" ng-model="ingredient.amount" name="" placeholder="Amount">
      <button  type = "button" class="addfield" ng-click="addNewChoice('ingredient')"><img class="add-field-btn" ng-src="img/more.svg"/></button>
   </fieldset>
   <button class="addfields" ng-click="addNewChoiceOption('ingredient')"><img class="add-btn" ng-src="img/add.svg"/><label class= "import-label">New</label></button>

   <br><br>
<p class="import-labels">Instruction Steps</p>

   <div class = "additions" ng-repeat = "addition in stepAdditions">
      <p class= "addition-label">{{ addition.number }}. </p>
      <ion-item class= "item-text-wrap step">{{ addition.step }}</ion-item>
      <button class = "remove-choice" ng-click="removeChoice('step', addition)"><img class="delete-btn" ng-src="img/less.svg"/></button>
      <button class = "up-choice" ng-show="!$first" ng-click="moveStepUp(addition)"><img class="up-btn" ng-src="img/up.svg"/></button>
      <button class = "down-choice" ng-show="!$last" ng-click="moveStepDown(addition)"><img class="down-btn" ng-src="img/down.svg"/></button>
    </div>

    <br>
   <fieldset  class = "instruction-addition" data-ng-repeat="choice in stepChoicesHolder track by $index">
      <input type="text" class= "import-input-choice label" ng-model="step.step" name="" placeholder="An instruction step">
      <button type = "button" class="addfield" ng-click="addNewChoice('step')"><img class="add-field-btn" ng-src="img/more.svg"/></button>
   </fieldset>
   <button class="addfields" ng-click="addNewChoiceOption('step')"><img class="add-btn" ng-src="img/add.svg"/><label class= "import-label">New</label></button>



  </form>
<p class="importPadding"></p><p class="importPadding"></p><p class="importPadding"></p>
</div>

<div class = "import-display" ng-show = "manualEntry">

</div>  

</ion-content>
  </ion-tab>

</ion-tabs>

</ion-view>









