<ion-view>

<ion-nav-buttons side ="right">           


<div class="bar bar-header item-input-inset mysearchbar">
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <form class="searchBox" ng-submit="submit()" >
          <input class = "textbox" type="text" placeholder="Enter URL..." ng-model="url" name="url" autofocus>
      </form>
    </label>


</div> 

<button class="searchpage-button" title="Import Recipes" ng-click="import(url)"><img ng-src="img/import.svg"/></button>
<p class="filterLabel"> IMPORT</p>

</ion-nav-buttons>

<ion-content>
<p class="menuPadding"></p>

<!-- <form novalidate class="import-form">
	<label>URL:<input type="text" ng-model="url"/></label><br />
	<input type="button" ng-click="import(url)" value="Import" />
</form>
 -->
<div ng-show="imported">
<ion-item>
	<img class="import-img" ng-src= "{{ img }}">
	<p>{{ result.title }}</p>
<div ng-bind-html="instructions"></div>

<!-- <div ng-bind-html="walkthrough"></div>
 -->  
<button ng-click="walkthrough()">Walkthrough</button>

</div>

<div ng-show="walkthroughHTML">
<p>Walkthrough</p>
   <p class = "step">{{currentStep}}</p>

<button class="col-50 button android-btn" ng-show="currentStepNum > 1" ng-click="prevStep()">Back</button>
<button class="col-50 button android-btn" ng-show="currentStepNum < maxStepNum" ng-click="nextStep()">Next</button>

      <div style = "text-align: center">
        <div id="page-wrapper">
          <p class="styled">
            <meter id="progress" max="{{max}}" value="{{percentageThrough}}"></meter>
          </p>
        </div>
    </div>
</div>


</ion-content>
</ion-item>


</ion-view>


