<ion-view>
  <ion-nav-title>
   <p class = "hometitle">Import Recipes</p>
  </ion-nav-title>

<ion-nav-buttons side ="right"> 
</ion-nav-buttons>

<ion-content>
<p class="menuPadding"></p>


<p class="importParagraph">Enter any link to a website or blog with recipe instructions</p>

<div class="bar bar-header item-input-inset myimportbar">
    <p class="urlLabel">URL: </p><label class="item-input-wrapper">
        <i></i>
        <form class="importBox" ng-submit="import(url)" style="width: 100%;">
          <input class = "textbox" style="width: 100%" type="text" placeholder="Enter URL..." ng-model="url" name="url" autofocus>
      </form>
    </label>


<button class="importpage-button" title="Import Recipes" ng-click="import(url)"><img ng-src="img/importblack.svg"/></button>
<p class="importLabel"></p>
</div>

<div ng-show="imported">

<button class = "walkthroughOFF-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateOFF"><img class="voice-btn" ng-show="activateOFF" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateOFF">Activate Voice</span></button>

<button class = "walkthroughON-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateON"><img class="voiceON-btn" ng-show="activateON" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateON">Activated</span></button>

<button class = "notSaved-btn" ng-click="savedRecipe(); saveRecipe(recipe);" ng-show="notSaved"><img class="save-btn" ng-src="img/save.svg" ng-show="notSaved"/><span class = "save" ng-show="notSaved">Click to Save</span></button>

<button class = "saved-btn" ng-click="savedRecipe(); saveRecipe(recipe);" ng-show="saved"><img class="save-btn" ng-src="img/save.svg" ng-show="saved"/><span class = "save" ng-show="saved">Recipe Saved</span></button>


<ion-item class= "recipe-img">
	<img class="import-img" ng-src= "{{ img }}">
	<p class="import-title">{{ result.title }}</p>
</ion-item>


<ion-item class = "recipe-detail">
<p class = "detail-title" ng-show = "sourceName"><b>Source:</b></p><p class="detail"><a href = "{{ details.sourceUrl }}">{{ sourceName }}</a></p><br>
<p class = "detail-title" ng-show = "servings"><b>Servings: </b></p><p class="detail">{{ servings }}</p><br>
<p class = "detail-title" ng-show = "timeRequired"><b>Time Required: </b></p><p class="detail">{{ timeRequired }} minutes</p><br>

</ion-item>

 <br>

 <p class = "ingredients"><b>Ingredients : </p></b>


 <ion-item class = "ingredients" ng-repeat = "ingredient in supplies">

  <img class = "ingredient-img" ng-src = "{{ ingredient.image }}">
  <p class = "ingredient-name"><b>{{ ingredient.name }}</b></p><br>
  <p class = "ingredient-amount">{{ ingredient.originalString }}</p>

</ion-item>


<br>

<button class = "walkthroughOFF-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateOFF"><img class="voice-btn" ng-show="activateOFF" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateOFF">Activate Voice</span></button>

<button class = "walkthroughON-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateON"><img class="voiceON-btn" ng-show="activateON" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateON">Activated</span></button>


<div ng-show="activateOFF" class = "instructions-section">


<b>Instructions:</b>
 <ion-item class="item-text-wrap" ng-repeat = "step in steps">{{$index + 1}}. {{ step }}</p>
</ion-item>


</div>
<br>

<div id="walkthrough" ng-show="activateON">
<br>
<b>Instructions:</b>

<ion-item class = "walkthrough">
  <ion-item class="item-text-wrap">
   <img class="speaking" ng-show="speaking" ng-src="img/speaker.svg"/>
   <img class="listening" ng-show="listening" ng-src="img/listening.svg"/>   

   <p class = "step">{{currentStepNum}}. {{currentStep}}</p>

  </ion-item>
<br>
<button class="back" ng-show="currentStepNum > 1" ng-click="prevStep()">Back</button>
<button class="backInvisible" ng-show="currentStepNum <= 1">Back</button>
<button class="next" ng-show="currentStepNum < maxStepNum" ng-click="nextStep()">Next</button>

      <div style = "text-align: center">
        <div id="page-wrapper">
          <p class="styled">
            <meter class ="meter" id="progress" max="{{max}}" value="{{percentageThrough}}"></meter>
          </p>
        </div>
    </div>
</div>
</ion-item>

 </ion-content>
</ion-view>