<ion-view>
<ion-nav-title>
   <p class = "hometitle">{{ recipe.title }}</p>
</ion-nav-title>

<ion-content>
<p class="menuPadding"></p>

<button class = "walkthrough-btn" ng-click="getSteps()">Walkthrough</button>
<button class = "detailsave-btn" ng-click="saveRecipe(recipe)">{{ button }}</button>
<div>
<ion-item>
 <img class="recipe-detail-img" ng-src="{{ image }}">


 <p class="detail-servings">{{ details.sourceName }}</p> 
 <p class="detail-servings">{{ details.servings }}</p>
 <p class="detail-time">{{ details.readyInMinutes }}</p>

 <p>Calories: {{ calories }}</p>
 <p>Protein: {{ protein }}</p>
 <p>Fat: {{ fat }}</p>
 <p>Carbohydrates: {{ carbs }}</p>
 

 <p>Ingredients : </p>

 <ion-item ng-repeat = "ingredient in supplies">

 	<img class = "ingredient-img" ng-src = "{{ ingredient.image }}">
 	<p class = "ingredient-name">{{ ingredient.name }}</p><br>
 	<p class = "ingredient-amount">{{ ingredient.amount }} {{ ingredient.unit }}</p>

</ion-item>
</div>

<div class = "instructions-section">
 <p class = "instructions">Instructions: {{ instructions }}</p>
</div>






 <div ng-show="instructionsNULL">
 	<p>Take the link above and import the recipe to walkthrough the recipe as usual</p>
 	<button  ng-click="importRecipe()">Import this Recipe</button>
 </div>


<br>
<button ng-click="getSteps()">Walkthrough</button>


<div id="walkthrough" ng-show="walkthroughHTML">
<p>WALKTHROUGH</p>
   <p class = "step">{{currentStep}}</p>

<button class="col-50 button android-btn" ng-show="currentStepNum > 1" ng-click="prevStep()">Back</button>
<button class="col-50 button android-btn" ng-show="currentStepNum < maxStepNum" ng-click="nextStep()">Next</button>

      <div style = "text-align: center">
        <div id="page-wrapper">
          <p class="styled">
            <meter id="progress" max="{{max}}" value="{{percentageThrough}}"></meter>
          </p>
        </div>
    </div>
</div>

 </ion-content>
</ion-item>
</ion-view>
