<ion-view>
<ion-nav-title>
   <p class = "hometitle">{{ recipe.title }}</p>
</ion-nav-title>

<ion-content>
<p class="menuPadding"></p>

<button class = "walkthroughOFF-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateOFF"><img class="voice-btn" ng-show="activateOFF" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateOFF">Activate Voice</span></button>

<button class = "walkthroughON-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateON"><img class="voiceON-btn" ng-show="activateON" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateON">Activated</span></button>

<button class = "notSaved-btn" ng-click="savedRecipe(); saveRecipe(recipe);" ng-show="notSaved"><img class="save-btn" ng-src="img/save.svg" ng-show="notSaved"/><span class = "save" ng-show="notSaved">Click to Save</span></button>

<button class = "saved-btn" ng-click="savedRecipe(); saveRecipe(recipe);" ng-show="saved"><img class="save-btn" ng-src="img/save.svg" ng-show="saved"/><span class = "save" ng-show="saved">Recipe Saved</span></button>

<ion-item class= "recipe-img">
<img class="recipe-detail-img" ng-src="{{ image }}">
</ion-item>

<ion-item class = "recipe-name">
  <ion-item class="item-text-wrap">
    <p class = "recipe-title"><b>{{ recipe.title }}</b></p>
  </ion-item>
</ion-item>

<ion-item class = "recipe-detail">
 <p class = "detail-title" ng-show = "sourceName"><b>Source:</b></p><p class="detail"><button class = "source-btn" ng-click="openSource()">{{ sourceName }}</button></p><br>
 <p class = "detail-title" ng-show = "servings"><b>Servings: </b></p><p class="detail">{{ servings }}</p><br>
 <p class = "detail-title" ng-show = "timeRequired"><b>Time Required: </b></p><p class="detail">{{ timeRequired }} minutes</p><br>

 <p class = "detail-title" ng-show = "calories"><b>Calories:</b> </p><p class="detail">{{ calories }}</p><br>
 <p class = "detail-title" ng-show = "protein"><b>Protein(g): </b></p><p class="detail">{{ protein }}</p><br>
 <p class = "detail-title" ng-show = "fat"><b>Fat(g): </b></p><p class="detail">{{ fat }}</p><br>
 <p class = "carbs-title" ng-show = "carbs"><b>Carbohydrates(g): </b></p><p class="carbs-detail">{{ carbs }}</p><br>

 </ion-item>
 <br>

 <p class = "ingredients"><b>Ingredients</p></b>

<ion-item class = "ingredients">
 <ion-item class="item-text-wrap" ng-repeat = "ingredient in supplies">

 	<img class = "ingredient-img" ng-src = "{{ ingredient.image }}"/>
 	<p class = "ingredient-name"><b>{{ ingredient.name }}</b></p>
 	<p class = "ingredient-amount">{{ ingredient.originalString }}</p>
</ion-item>
</ion-item>
</div>

<br>

<button class = "walkthroughOFF-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateOFF"><img class="voice-btn" ng-show="activateOFF" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateOFF">Activate Voice</span></button>

<button class = "walkthroughON-btn" ng-click="activateVoice(); activateVoiceInstructions();" ng-show="activateON"><img class="voiceON-btn" ng-show="activateON" ng-src="img/voice.svg"/><span class="activateVoice" ng-show="activateON">Activated</span></button>

<button class = "help-btn" ng-click="help()"><img class="help-btn" ng-src="img/helpred.svg"/></button>


<div ng-show="activateOFF" class = "instructions-section">
<br>

<p class = "ingredients"><b>Instructions</p></b>
<ion-item class = "Instructions">
 <ion-item class="item-text-wrap" ng-repeat = "step in steps"><b>{{$index + 1}}.</b> {{ step }}</p>
</ion-item>
</ion-item>
</div>



<br>

<div id="walkthrough" ng-show="activateON">
<br>
<b>Instructions</b>

<ion-item class = "Instructions">
  <ion-item class="item-text-wrap">
   <img class="speaking" ng-show="speaking" ng-src="img/speaker.svg"/>
   <img class="listening" ng-show="listening" ng-src="img/listening.svg"/>   

   <p class = "step"><b>{{currentStepNum}}.</b> {{currentStep}}</p>

  </ion-item>
<br>
<button class="back" ng-show="currentStepNum > 1" ng-click="prevStep()">Back</button>
<button class="backInvisible" ng-show="currentStepNum <= 1">Back</button>
<button class="next" ng-show="currentStepNum < maxStepNum" ng-click="nextStep()">Next</button>

      <div style = "text-align: center">
        <div id="page-wrapper">
          <p class="styled">
            <meter class ="meter" id="progress" max="{{max}}" value="{{percentageThrough}}"></meter>
          </p>

        </div>
    </div>
</div>
</ion-item>

 </ion-content>
</ion-view>

