<ion-view view-title="Saved Recipes">
  <ion-content>
  <p class="menuPadding"></p>

<div class="row" style="flex-wrap: wrap;">
		<div ng-repeat="recipe in saved track by $index">

	<ion-item href="#/event/saved/{{$index}}/saved">

	<img class="result-img" ng-src= "{{ recipe.image }}">

	 <b><p class="results-title">{{ recipe.title }}  </p></b>

	 <p class="results-details">{{ recipe.resultsdetails }}</p>

<!-- <button class="button-assertive" ng-click="remove(recipe)">
Delete
</button> -->

</ion-item>
</div>
</div>

  </ion-content>
</ion-view>
