<ion-view >


<ion-nav-buttons side ="right">		        


<div class="bar bar-header item-input-inset mysearchbar">
		<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<form class="searchBox" ng-submit="submit()" >
					<input class = "textbox" type="text" placeholder="Search Recipes/Enter" ng-model="query" name="query" autofocus>
			</form>
		</label>


</div> 

<button class="searchpage-button" title="Search Recipes" ng-click="getRecipe(query)"><img ng-src="img/search.svg"/></button>
<button class="filter-button" title="Filter" ng-click="showPopup(query)" ng-show="filterOptionOff"><img class = "filter-btn" ng-src="img/filter.svg"/></button>
<button class="filter-button" title="Filter" ng-click="showPopup(query)" ng-show="filterOptionOn"><img class = "filter-btn" ng-src="img/filtergreen.svg"/></button>

<p class="filterLabel"> FILTERS</p>

</ion-nav-buttons>
 <ion-content>



<div class="row" ng-show = "searchResultsReturned" infinite-scroll="myPagingFunction()" infinite-scroll-distance = "3" style="flex-wrap: wrap;">

<ion-item class = "results">
<p class = "results"><b>Number of Results: </b>{{ numberOfResults }}</p>
<br>
<p ng-show = "query" class = "resultsLabel"><b>Showing recipes for </b>"{{query}}"</p>

</ion-item>
<br>

	<ion-item class = "searchList" ng-repeat="recipe in result" href="#/event/search/{{$index}}/search">

	<ion-item class = "item-text-wrap">
	<img class="result-img" ng-src= "{{ recipe.image }}">

	 <b><p class="results-title">{{ recipe.title }}  </p></b>

	 <p class="results-details">{{ recipe.resultsdetails }}</p>

</ion-item>
	

</ion-item>
</div>


  </ion-content>
</ion-view>