<ion-view view-title="Search">
            
            <ion-nav-buttons side ="right">
            <button class="search-button" ng-click="showPopup()">Filter</button>
            </ion-nav-buttons>
 <ion-content>

  <p class="padding"></p>


<form>

	<input type="textbox" id="text-id" class="search-box" name="searchParameter" placeholder="Search Recipes..." ng-model="query">
	<input class="search-btn" type="image" src="img/search.png" ng-click="getRecipe(query)" alt="Search">
	<br>

<span>Filter For:</span>
<strong class="titles">Diet, Ingredients, Restrictions</strong>
</form>


<button ng-click="getRecipe(query)">Filter Results</button>

</form>



<div class="row" ng-show = "searchResultsReturned" style="flex-wrap: wrap;">

  <div class="col col-25" ng-repeat="recipe in result">

	<ion-item href="#/event/search/{{$index}}/search">
<!-- 	<div class="results">
 -->
	<img class="result-img" ng-src= "{{ recipe.image }}">

<!--  	<img class = "result-img" ng-src="{{getRecipeImage(recipe)}}">
 -->
	 <p>{{ recipe.title }}</p>

</ion-item>
</div>
</div>

<!-- 
</ion-item>
</div>
</ion-list></div> -->

  </ion-content>
</ion-view>