<ion-view view-title="home">
  <ion-nav-title>
   <p class = "maintitle">Settings</p>
  </ion-nav-title>


  <ion-content>

<p class="homePadding"></p>


<p class = "voiceSettings"><b>Voice Settings</b></p>
<button class="settingsVoice" ng-click="playVoice()" ng-show="testingOff"><img class = "test" ng-src="img/play.svg"/><b class = "test-label">Test Voice</b></button>
<button class="settingsVoice" ng-click="playVoice()" ng-show="testingOn"><img class = "testing" ng-src="img/playgreen.svg"/><b class = "testing-label">Testing...</b></button>

<ion-item class="item-input item-select">
    <div class="input-label">
      Pace
    </div>

<select data-ng-options="o.name for o in paceOptions" ng-change="paceChanged(selectedPace)" data-ng-model="selectedPace"></select>
  </ion-item>


<ion-item class="item-input item-select">
    <div class="input-label">
      Voice
    </div>



<select data-ng-options="o.name for o in voiceOptions" ng-change="voiceChanged(selectedVoice)" data-ng-model="selectedVoice"></select>
  </ion-item>


  </ion-content>
</ion-view>
