/*Customized colour for the nav bar on index.html page */
@import url('https://fonts.googleapis.com/css?family=Cinzel');


p, button, b, ion-item{
  font-family: 'Cinzel', serif;
}


/*INDEX PAGE
*/
.mynavbar{
  height: 55px !important;
  background-color: #3B88F0;
}
p.maintitle{
  font-size: 110%;
  padding-top: 8px;
  float: left;
  width: 110%;
  color: white;
}


p.hometitle{
  font-size: 110%;
  padding-top: 8px;
  color: white;
}

button.menu-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 8px;
  width: 80%;
}

img.menu-btn{
  width: 30px;
  margin-right: 10px;
}

img.menu-home{
  border: none;
  margin-left: -30%;

}

.menu-home{
  margin-bottom: -6px;
}

.mymenu{
  height: 100px;
  background-color: #ddd;
  padding-left: 25%;
}


img.menu-img{
  width:50%;
  height:100%;
}

p.menuPadding {
  padding-top: 0.5cm;
}

p.MainMenuPadding{
  padding-top: 1.5cm;
}

.current{
  background: #b0b0b0 !important;
  padding-left: 29%;
  margin-left: -6%;
  margin-right: -6.5%;
  font-weight: bold;
  
  }

.mymenubar{
  border: none;
  background-color: #ddd;
}

p.menuTitle{
  font-size: 16px;
  text-align: left;
  display: inline;
  margin-left: 40%;

}

img.menu{
  background-color:  #ddd;
  width: 50%;
  margin-top: 2%;
}


/*HOME PAGE
*/
p.homePadding {
  padding-top: 1cm;
}

.menu-title{
  font-size: 150%;
  color: white;
 /* padding-top: 25%;*/

}

button.import-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 8px;

}

button.search-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 7px;
}

img.import-btn{
  width: 30px;
}

img.search-btn{
  width: 30px;
}

img.filter-btn{
  width: 30px;
  margin-right: 10px;
}


 ion-content.background {
        background: url(img/bubblered.png) no-repeat center;
        background-size: 100%;
        background-color: #3B88F0;
    }

img.home-img{
  width: 50%;
  height: 50%;
}
/*SEARCH PAGE
*/
.mysearchbar{
  margin-left: 50px;
}

p.searchPadding {
  padding-top: 0.5cm;
}

form.searchBox {
}


input.textbox {
   
}

input.searchSubmit{

}

button.filter-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 7px;
}

button.searchpage-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 7px;

}

p.results{
  text-align: right;
}

p.resultsLabel{
  text-align: left;
}
p.filterLabel{
  margin-top: 15px;
  font-size: 10px;
}

ion-item.item{
  border: 1px solid black;
  width: 100%;
}

img.result-img {
  width: 50%;
  height: 50%;
  border: none;
 
 
}

ion-item.savedList{
  border: none;  

}

ion-item.item-text-wrap{
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  margin-top: -5%;
  width: 111%;

}

ion-item.importedList{
  width: 110%;
  margin-left: -1.5%;
}

ion-item.searchList{
  border: none;

  
}

ion-item.results{
  border: none;

}

p.results-title{
  text-align:center;
  float: right;
  font-size: 60%;
 
  
  width: 48%;
}

p.results-details{
  
  font-size: 60%;
  text-align:center;
  float: left;

}

div.filterOption{
  text-align: center;
}

/*IMPORT PAGE
*/

.myimportbar{
  
}

button.importpage-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 10px;
  font-size: 130%;

}

p.importLabel{
  margin-top: 26px;
  font-size: 10px;
  margin-left: -6px;
}

p.urlLabel{
  font-size: 13px;
  font-weight: bold;
  height: 9px;
  padding-right: 5px;
}

p.importParagraph{
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

img.import-img{
  width: 50%;
  height: 50%;
  border: none;
  margin-left: 25%;
}

p.import-title{
  text-align: center;
  font-size: 100%;
  color: #189D09;
  margin-top: 3%;

}

/*RECIPE DETAILS
*/
img.recipe-detail-img{
  width: 50%;
  height: 50%;
  border: none;
  margin-left: 25%;
  margin-top: 3%;
}

ion-item.recipe-img{
  border:none;
 
}

button.notSaved-btn{
  border-radius: 25px;
  float: right;
  color: white;
  background-color: #BAB9B9;
  width: 46%;
  font-size: 110%;
  margin-top: 1.5%;
  margin-right: 1%;
  border: 1px solid #878987;
}

button.saved-btn{
  border-radius: 25px;
  float: right;
  color: white;
  background-color: #189D09;
  width: 46%;
  font-size: 110%;
  margin-top: 1.5%;
  margin-right: 1%;
  border: 1px solid #878987;
}

button.walkthroughOFF-btn{
  border-radius: 25px;
  color: white;
  background-color: #BAB9B9;
  border: 1px solid #878987;
  width: 46%;
  font-size: 110%;
  margin-top: 1.5%;
  margin-left: 1%;

}

button.walkthroughON-btn{
  border-radius: 25px;
  color: white;
  background-color: #189D09;
  border: 1px solid #878987;
  width: 46%;
  font-size: 110%;
  margin-top: 1.5%;
  margin-left: 1%;
}



img.voice-btn{
  float: left;
  margin-top: 1%;
}

img.save-btn{
  float: left;
  margin-top: 2%;
}

span.activateVoice{
  float: right;
  margin-top: 5px;
}

img.voiceON-btn{
 float: left;
 margin-top: 1%;

}

span.save{
  float: right;
  margin-top: 5px;
}

ion-item.recipe-detail{
  border: 2px solid #878987;

  width: 80%;

  margin-left: 10%;

}
p.detail{
  float: right; width: 50%; text-align: right;
}

p.detail-title{
  float: left; width: 50%; font-size: 80%;
}

p.carbs-detail{
  float: right; width: 35%; text-align: right;
}

p.carbs-title{
  float: left; width: 65%;font-size: 80%;
}


ion-item.ingredients{
  width: 80%;
  padding-top: 5%;
  padding-right: 8%;
  padding-left: 9%;
  margin-left: 10%;
  border:none;

  /*width: 90%;*/
}

img.ingredient-img{
  width: 40px;
  height: 40px;
  float:left;
  display:inline;
  margin-left: -8%;
  
}

p.ingredient-name{
/*  margin-top: -5%;
  margin-bottom: -5%;*/
  text-align: right;
  font-size: 90%;
  margin-right: 5%;


}
p.ingredient-amount{
  text-align: right;
  font-size: 70%;
  margin-right: 5%;

  

/*  margin-right: 1%;
  padding-top: 5%;*/

}

ion-item.recipe-name{
  border: transparent;
  width: 90%;
  padding-top: 5%;

}
p.recipe-title{
  padding-top: 5%;
  text-align: center;
  font-size: 100%;
  margin-top: -7%;
  color: #189D09;
}
p.ingredients{
  text-align: center;
}




ion-item.Instructions{
  border: none;
  width: 90%;
}

img.speaking{
  width: 8%;
  height: 8%;
  float: left;
  margin-left: -2%;
  margin-right: 2%;
}

img.listening{
  width: 10%;
  height: 10%;
  float: left;
  margin-left: -2%;
  margin-right: 2%;
  margin-top: -1%;
}
p.step{
  margin-top: 3%;
  margin-left: 12%;
}

button.back{
float: left;
margin-left: 1%;
  color: white;
  background-color: #189D09;
  border: 1px solid #878987;
}

button.next{
float: right;
margin-right: 1%;
  color: white;
  background-color: #189D09;
  border: 1px solid #878987;
}

button.backInvisible{
  background: transparent;
  color: transparent;
  border: none !important;
  float:left;
  margin-left: 1%;

}

button.source-btn{
  background: transparent;
  color: blue;
  border: none !important;
  text-decoration: underline;
}
/*
SAVED PAGE*/

button.delete-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 10px;
}

button.savedRecipesON-btn{
  float: left;
  border-radius: 25px;
  color: white;
  background-color: #3B88F0;
  border: 1px solid #878987;
  width: 46%;
  font-size: 110%;
  margin-bottom: 2%;
  margin-left: 1%;
}
button.savedRecipesOFF-btn{
  float: left;
  border-radius: 25px;
  color: white;
  background-color: #BAB9B9;
  border: 1px solid #878987;
  width: 46%;
  font-size: 110%;
  margin-bottom: 2%;
  margin-left: 1%;
}
button.importedRecipesON-btn{
  float: right;
  border-radius: 25px;
  color: white;
  background-color: #3B88F0;
  border: 1px solid #878987;
  width: 50%;
  font-size: 110%;
  margin-bottom: 2%;
  margin-right: 1%;
}
button.importedRecipesOFF-btn{
  float:right;
  border-radius: 25px;
  color: white;
  background-color: #BAB9B9;
  border: 1px solid #878987;
  width: 50%;
  font-size: 110%;
  margin-bottom: 2%;
  margin-right: 1%;
}


img.savedRecipes-btn{
  float: left;
}

span.savedRecipes{
  float: right;
  margin-top: 5px;
}


/*SETTINGS PAGE*/

button.settingsVoice{
  background: transparent;
  border: none !important;
  float: right;
}

p.voiceSettings{
  float: left;
  padding-left: 3%;
}
b.testing-label{
  color: #189D09;
  font-size: 80%;
  float: right;
   margin-top: 7%;
}
b.test-label{
 font-size: 80%;
 float: right;
 margin-top: 7%;
}

/*HELP PAGE*/

button.help-btn{
  background: transparent;
  border: none !important;
  float: right;
  margin-top: 2%;
  width: 23%;

}
img.pop-btn{
  margin-left: 45%;
  margin-top: -10%;
  width: 10%;
  margin-bottom: 1%;
  }

p.help-label{
  font-size: 75%;
  display: inline;
  font-family: arial;
  color: #3B88F0;
}

div.help-instructions{
  margin-left: 1%;
  padding-left: 5%;
  padding-top: 5%;
  margin-right: 1%;
  margin-bottom: 3%;
  margin-top: -7%;

}

p.help{
  font-family: arial;
  font-size: 70%;
  

}
img.bullet{
  width: 5%;
  margin-left: -8%;
  float: left;

}

ion-item.help{
  border: transparent;
}
b.activate{
  color: #3B88F0;
}
p.voiceOptionsTitle{
 text-align: center;
 color: #3B88F0;
 
}
p.voiceOptions{
  font-size: 75%;
  font-family: arial;
  margin-bottom: -1%;
}
b.voiceOptions{
  font-size: 85%;
  color: #DC143C;
}


label.guideCheck{
  display: block;
  padding-left: 10%;
  text-indent: -10%;
  font-size: 85%;
  text-align: center;
  color: #3B88F0;
  border: 1px solid #3B88F0;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: -4%;
}

input.guide{
  width: 13px;
  height: 13px;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;

}

.popup-title {
  color: #3B88F0 !important;
}
