/*Customized colour for the nav bar on index.html page */
p.padding {
	padding-top: 2cm;
}

form {
	text-align: center;
}
input[type="textbox"] {
	width: 80%; height: 50px;
	padding-right: 50px;
	text-align: center;
	
}

input[type="image"] {
	margin-left: -50px;
	height: 20px;
	width: 20px;
}

table {
	border: 2px solid black;
	width: 100%;
}

th {
	height: 50px;
}

div.results {
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}

div.result-list{
	width:500px;
}

div.list {
	width:50%;
}

img.result-img {
	width: 50px;
	height:50px;
	border: 2px solid green;
	position: center;
}


label {
	display: inline-block;
	width: 140px;
	text-align: left;
}