/*Customized colour for the nav bar on index.html page */

p {
  font-family: copperplate;
}


/*INDEX PAGE
*/
.mynavbar{
  height: 55px !important;
}

p.hometitle{
  font-size: 110%;
  padding-top: 8px;
}

button.menu-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 8px;
}

img.menu-btn{
  width: 30px;
  margin-right: 10px;
}

img.menu-home{
  border: none;
  margin-left: -30%;

}

.menu-home{
  margin-bottom: -6px;
}

.mymenu{
  height: 100px;  
}

img.menu-img{
  width:50%;
  height:100%;
}

p.menuPadding {
  padding-top: 1cm;
}


.current{
  background: #b0b0b0 !important;
  margin-right: -10%;
  margin-left: -6%;
  padding-right: 40%;
  font-weight: bold;
}

.mymenubar{
  border: none;
  background-color: #ddd;
}

p.menuTitle{
  font-size: 16px;
  text-align: left;
  display: inline;
  margin-left: 20px;


}


/*HOME PAGE
*/
p.homePadding {
  padding-top: 1cm;
}

.menu-title{
  font-size: 150%;
  color: white;
 /* padding-top: 25%;*/

}

button.import-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
}

button.search-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 7px;
}

img.import-btn{
  width: 30px;
}

img.search-btn{
  width: 30px;
}

img.filter-btn{
  width: 30px;
  margin-right: 10px;
}

/*SEARCH PAGE
*/
.mysearchbar{
  margin-left: 50px;
}

p.searchPadding {
  padding-top: 1cm;
}

form.searchBox {
}


input.textbox {
   
}

input.searchSubmit{

}

button.filter-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 7px;
}

button.searchpage-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 7px;

}
p.filterLabel{
  margin-top: 15px;
  font-size: 10px;
}

ion-item.item{
  border: 1px solid black;
  width: 100%;
}

img.result-img {
  width: 50%;
  height: 50%;
  border: 2px solid green;
 
}

p.results-title{
  text-align:left;
  float: right;
  font-size: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 50%;
}

p.results-details{
  text-align:center;
  font-size: 60%;
  width:50%;
  display: inline-block;
  padding-left: 10px;
}

div.filterOption{
  text-align: center;
}

/*IMPORT PAGE
*/

.myimportbar{
  
}

button.importpage-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 10px;
  font-size: 130%;

}

p.importLabel{
  margin-top: 26px;
  font-size: 10px;
  margin-left: -6px;
}

p.urlLabel{
  font-size: 13px;
  font-weight: bold;
  height: 9px;
  padding-right: 5px;
}

p.importParagraph{
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}


/*RECIPE DETAILS
*/
img.recipe-detail-img{
  border: 5px solid black;
  height: 50%;
  width: 50%; 
}



/*

form.searchBox {
  text-align: center;
}

input.textbox {
    width: 80%; height: 50px;
    padding: 12px 20px;
    text-align: center;
    margin: 8px 0;
    border: 1px solid black;
    display: inline;
}

input.search-btn {
  margin-left: -50px;
  height: 20px;
  width: 20px;
}

input.searchSubmit{
  background:url(/img/search.png) no-repeat;
  width: 40px;
  height: 35px;
  border: none;
}











table {
  border: 2px solid black;
  width: 100%;
}

th {
  height: 50px;
}

div.results {
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}

div.result-list{
  width:500px;
}

div.list {
  width:50%;
}



div.cals {
  display: inline;
}

table.nutrients{
  border: none;
}

.filterBtn {
  width: 100%;
  position: center;
  margin: 20px auto;

  input[type=checkboxes]{
    display: none;
  }
}

.squaredThree {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }    
  }
}
/* end .squaredThree */